h1 {
  margin: 50px 0;
}

i {
  outline: none;
}

.entries {
  margin-bottom: 50px;
}

.entry-item {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.entry-item span {
  display: inline-block;
  margin-right: 50px;
  width: 200px;
}

.entry-item .buttons {
  display: inline-block;
  width: 70px;
}

.delete-item, .edit-item {
  border: none;
  background-color: white;
  outline: none;
}

